<!-- component navbar -->
<nav-deslogado></nav-deslogado>
<!--  -->
<section class="container">
  <div class=" alerta text-center">
    <div class="container">
      <h4>Informações Pessoais</h4>
      <article>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, quaerat vero! Nostrum et reiciendis amet 
        consequatur culpa fuga ducimus itaque esse quidem earum non, cum, suscipit laudantium. Ipsam, eos iusto?</p>
      </article>
    </div>
  </div>
</section>
<section class="container" id="formularioDados">
  <div class="">
    <form>
      <div class="row">
        <div class="col-6 campoForm">
          <input class="form-control form-control-sm" type="text" placeholder="Nome Completo">
        </div>
        <div class="col-6 campoForm">
            <select class="form-control form-control-sm">
                <option>Selecione um perfil</option>
                <option>asdafsasf</option>
                <option>asfasfasf</option>
                <option>Selasfafrfil</option>
              </select>
        </div>
        <div class="col-12 campoForm">
            <input class="form-control form-control-sm" type="text" placeholder="Instituição de Ensino">
        </div>
        <div class="col-7 campoForm">
            <select class="form-control form-control-sm">
                <option>Selecione seu Curso</option>
            </select>
        </div>
        <div class="col-5 campoForm">
            <select class="form-control form-control-sm">
                <option>Semestre</option>
            </select>
          </div>
            <div class="col-6 campoForm">
                <select class="form-control form-control-sm">
                    <option>UF</option>
                </select>
            </div>
            <div class="col-6 campoForm">
                <select class="form-control form-control-sm">
                    <option>Cidade</option>
                </select>
            </div>
      </div>
      <div class="text-center campoForm">
            <input type="submit" class="button-md" value="Proximo">
      </div>
    </form>
  </div>
</section>