<section>
    <div class="center-page container">
        <div class="window container">
            <div class="container">
            <h1 class="text-center">Login</h1>
            <input class="form-control form-control-md nome" type="text" placeholder="Nome  de Usuário">
            <input class="form-control form-control-md senha" type="text" placeholder="Senha">
            <div class="form-check mb-2">
                <form>
                    <input class="form-check-input senha" type="checkbox" id="lembrarSenha">
                    <label class="form-check-label senha" for="lembrarSenha">
                    Lembrar minha senha
                    </label>
                </form>
                </div>
            <button type="submit" class="btn btn-primary df-button" style="width:100%">Entrar</button>
            <small id="passwordHelpBlock" class="form-text text-muted">
                    <a [routerLink]="['/cadastro']" >Esqueceu sua senha?</a>
                </small>
            </div>
        </div>
    </div>
</section>