<header>
    <div class="sidenav hiddenMenu">
            <div class="sidenav-bottom">
                    <i class="fas fa-times" (click)="closeMenuResponsive()"></i>
                </div>
        <div class="sidenav-top">
            <button class="btn-signup btn btn-default">Cadastre-se</button>
            <button class="btn-signin btn btn-default">Login</button>
        </div>
    <ul>
        <li  class="list-group-item"><a href="#">Sobre</a></li>
        <li  class="list-group-item"><a href="#">Termos de Uso</a></li>
    </ul>
</div>
<div class="container">
    <nav>
        <div class="nav-left col-2">
            <a (click)="menuResponsive()"><i class="fas fa-bars"></i></a>
        </div>
        <div class="col-8 text-center">
            <img src="../../images/logo_teste.png" alt="">
        </div>
        <div class="nav-right col-2" >
            <a (click)="showCampoPesquisa()"><i class="fas fa-search"></i></a>
        </div>
    </nav>
    <div class="search hiddenSearch" ng-if="search">
        <input type="text" placeholder="Pesquise por resumo...">
    </div>
</div>

</header>