
.banner{
    height:300px;
    background-image: linear-gradient(rgba(black,0.8),rgba(black,0.8)) ,url('../../images/1.png');
    background-size: cover;
    background-position: center;
}
#desc{
    margin-top:1em;
    margin-bottom: 5em;
}
