<header>
    <div class="container">
        <div class="vertical-align">
            <nav class="row">
                <div class="nav-left col-4">
                    <button><i class="fab fa-accessible-icon"></i></button>
                    <button class="search"><i class="fab fa-accessible-icon"></i></button>
                </div>
                <div class="nav-center col-6 text-center">
                    <div>
                        
                        <h1 role="img ">LOGO</h1>
                     </div>
                </div>
                <div class="nav-right col-2 ">
                    <!-- <form class="form-inline my-2 my-sm-2">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            </div>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </div>
                    </form> -->
                    <img class="icon">

                </div>
            </nav>
        </div>
    </div>
</header>