<navbar></navbar>
<bannerprincipal></bannerprincipal>
<section>
    <div class="container">
          <div class="categoria">
              <h2>Exatas:</h2>
              <div class="row">
                <div class="col-4">
                  <img src="\..\..\images\capa1.jpg" alt="capa livro azul">
                  <img src="" alt="">
                  <img src="" alt="">
                </div>
              </div>
          </div>
          <div class="categoria">
              <h2>Humanas:</h2>
          </div>
    </div>
</section>